:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  background: #2b2f37;
  margin: 5px;
  height: 100vh;
  max-width: 960px;
  margin: 0 auto;
}

.container-wrapper {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  border: 1px solid #ddd;
  /* grid-gap: 1em; */
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
  color: #ddd;
  padding: 0.3em;
  /* border: 1px solid #ddd; */
  text-align: center;
}

.newGrid {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100px;
}

.newGrid:active {
  transform: scale(0.98);
}
